<h1>Welcome to the Sterling Animal Clinic Website</h1>
<p><%= link_to "Receptionist", :controller => :appointments, :action => :index %></p>
<p><%= link_to "Doctor", :controller => :record, :action => :index %></p>
<p><%= link_to "Owner", :controller => :doctor, :action => :index %></p>
<p><%= link_to "Customer", :list %></p>
